<div class="contenedor">
    <form [formGroup]="oUsuario" (ngSubmit)="RegistroNuevo($event)">
        <h1>Registro</h1>


        <label for="">Nombre</label>
        <input type="text" class="form-control"  formControlName="nombre" autocomplete="off">
        <div *ngIf="oUsuario.get('nombre')?.errors && oUsuario.get('nombre')?.touched">
            <p *ngIf="oUsuario.get('nombre')?.hasError('required')" class="text-danger">
                Por favor ingrese su nombre
            </p>
            <p *ngIf="oUsuario.get('nombre')?.hasError('pattern')" class="text-danger">
                No se permiten numeros ni caracteres especiales
            </p>
        </div>

        <label for="">Apellido</label>
        <input type="text" class="form-control" formControlName="apellido">
        <div *ngIf="oUsuario.get('apellido')?.errors && oUsuario.get('apellido')?.touched">
            <p *ngIf="oUsuario.get('apellido')?.hasError('required')" class="text-danger">
                Por favor ingrese su apellido
            </p>
            <p *ngIf="oUsuario.get('apellido')?.hasError('pattern')" class="text-danger">
                No se permiten numeros ni caracteres especiales
            </p>
        </div>

        <label for="">DNI</label>
        <input type="number" class="form-control" formControlName="dni">
        <div *ngIf="oUsuario.get('dni')?.errors && oUsuario.get('dni')?.touched">
            <p *ngIf="oUsuario.get('dni')?.hasError('required')" class="text-danger">
                Por favor ingrese su DNI
            </p>
            <p *ngIf="oUsuario.get('dni')?.hasError('pattern')" class="text-danger">
                Documento no valido
            </p>
        </div>

        <label for="">Fecha de Nacimiento</label>
        <input type="date" class="form-control" formControlName="fechaNacimiento"  min="1922-01-01" max="2003-12-31">
        <div *ngIf="oUsuario.get('fechaNacimiento')?.errors && oUsuario.get('fechaNacimiento')?.touched">
            <p *ngIf="oUsuario.get('fechaNacimiento')?.hasError('required')" class="text-danger">
                Por favor ingrese su fecha de nacimiento
            </p>
        </div>
        

        <label for="">Celular</label>
        <input type="number" class="form-control" formControlName="celular">
        <div *ngIf="oUsuario.get('celular')?.errors && oUsuario.get('celular')?.touched">
            <p *ngIf="oUsuario.get('celular')?.hasError('required')" class="text-danger">
                Por favor ingrese su celular
            </p>
        </div>

        <label for="">Direccion</label>
        <input type="text" class="form-control" formControlName="direccion">
        <div *ngIf="oUsuario.get('direccion')?.errors && oUsuario.get('direccion')?.touched">
            <p *ngIf="oUsuario.get('direccion')?.hasError('required')" class="text-danger">
                Por favor ingrese su direccion
            </p>
        </div>

        <label for="">Numeracion</label>
        <input type="number" class="form-control" formControlName="numeracion">
        <div *ngIf="oUsuario.get('numeracion')?.errors && oUsuario.get('numeracion')?.touched">
            <p *ngIf="oUsuario.get('numeracion')?.hasError('required')" class="text-danger">
                Por favor ingrese la numeracion de su lugar de residencia
            </p>
        </div>

        <!-- <label for="">Departamento</label>
        <input type="text" class="form-control" formControlName="departamento">

        <label for="">Piso</label>
        <input type="text" class="form-control" formControlName="piso"> -->

        <label for="">Barrio</label>
        <input type="text" class="form-control" formControlName="barrio">
        <div *ngIf="oUsuario.get('barrio')?.errors && oUsuario.get('barrio')?.touched">
            <p *ngIf="oUsuario.get('barrio')?.hasError('required')" class="text-danger">
                Por favor ingrese su barrio
            </p>
        </div>

        <label for="">Correo</label>
        <input type="email" class="form-control" formControlName="correo">
        <div *ngIf="oUsuario.get('correo')?.errors && oUsuario.get('correo')?.touched">
            <p *ngIf="oUsuario.get('correo')?.hasError('required')" class="text-danger">
                Por favor ingrese su correo
            </p>

            <p *ngIf="oUsuario.get('correo')?.hasError('email')" class="text-danger">
                correo no valido
            </p>
            <p *ngIf="oUsuario.get('correo')?.hasError('pattern')" class="text-danger">
                ingrese un dominio
            </p>
        </div>
    
            
 
        <label for="">Contraseña</label>
        <div class="password">
            <input type="password" class="form-control" formControlName="contraseña" [type]="hide ? 'password':'text'">
            <i class="material-icons" matSuffix (click)="hide = !hide">
            {{hide ? 'visibility': 'visibility_off'}}
        </i>
        </div>
        <div *ngIf="oUsuario.get('contraseña')?.errors && oUsuario.get('contraseña')?.touched">
            <p *ngIf="oUsuario.get('contraseña')?.hasError('required')" class="text-danger">
                Por favor ingrese su contraseña
            </p>
            <p *ngIf="oUsuario.get('contraseña')?.hasError('minlength')" class="text-danger">
                minimo de 8 caracteres 
            </p>
            <p *ngIf="oUsuario.get('contraseña')?.hasError('maxlength')"class="text-danger">
                Maximo de 16 caracteres
            </p>
            <p *ngIf="oUsuario.get('contraseña')?.hasError('pattern')" class="text-danger">
                Ingrese letras en minuscula, mayuscula y numeros
            </p>
        </div>

        <label for="">Repita su contraseña</label>
        <div class="password">
            <input type="password" class="form-control" formControlName="contraseña2" [type]="hide ? 'password':'text'">
            <i class="material-icons" matSuffix (click)="hide = !hide">
            {{hide ? 'visibility': 'visibility_off'}}
        </i>
        </div>
        <div *ngIf="oUsuario.get('contraseña')?.errors && oUsuario.get('contraseña')?.touched">
            <p *ngIf="oUsuario.get('contraseña')?.hasError('required')" class="text-danger">
                Por favor ingrese su contraseña
            </p>
            <p *ngIf="oUsuario.get('contraseña')?.hasError('minlength')" class="text-danger">
                minimo de 8 caracteres 
            </p>
            <p *ngIf="oUsuario.get('contraseña')?.hasError('maxlength')"class="text-danger">
                Maximo de 16 caracteres
            </p>
            <p *ngIf="oUsuario.get('contraseña')?.hasError('pattern')" class="text-danger">
                Ingrese letras en minuscula, mayuscula y numeros
            </p>
        </div>

        
        <label for="">Provincia</label>
        <select name="" id="" class="form-control" formControlName="provincia">
            <option value="" disabled selected>Seleccione</option>
            <option value="1">Catamarca</option>
            <option value="2">La Rioja</option>
            <option value="3">Cordoba</option>
            <option value="4">Tucuman</option>
            <option value="5">Santiago del Estero</option>
            <option value="6">Jujuy</option>
        </select>
        <div *ngIf="oUsuario.get('provincia')?.errors && oUsuario.get('provincia')?.touched">
            <p *ngIf="oUsuario.get('provincia')?.hasError('required')" class="text-danger">
                Por favor ingrese su provincia
            </p>
        </div>

        <label for="">Genero</label>
        <select name="" id="" class="form-control" formControlName="genero">
            <option value="" disabled selected>Seleccione</option>
            <option value="1">Hombre</option>
            <option value="2">Mujer</option>
            <option value="3">Otro</option>
        </select>
        <div *ngIf="oUsuario.get('genero')?.errors && oUsuario.get('genero')?.touched">
            <p *ngIf="oUsuario.get('genero')?.hasError('required')" class="text-danger">
                Por favor ingrese su genero
            </p>
        </div>


        <div class="boton">
            <button class="btn btn-success boton-enviar" type="submit" [disabled]="!oUsuario.valid">Enviar</button>
        </div>
    </form>
</div>