<body>
	<div>
		<!-- <div class="menu">	 -->
			<div class="d-flex">
				<div class="sidebar-conteiner">
					<div class="logo">
						<h4>Valan</h4>
					</div>
					<div class="menu">
						<a herf="#" class="d-block text-dark p-3">Inicio</a>
						<a herf="#" class="d-block text-dark p-3"><i class="fa-regular fa-circle-dollar"></i>Cuentas</a>
						<a herf="#" class="d-block text-dark p-3"><i class="fa-regular fa-key"></i>Claves</a>
						<a herf="#" class="d-block text-dark p-3"><i class="fa-regular fa-arrow-down-arrow-up"></i>Transferencias</a>
						<a herf="#" class="d-block text-dark p-3">Pagos de Servicios</a>
						<a herf="#" class="d-block text-dark p-3">Pagos de Sueldo</a>
						<a herf="#" class="d-block text-dark p-3">Debitos Automaticos</a>
						<a herf="#" class="d-block text-dark p-3">Compra y Venta de Dolares</a>
						<a herf="#" class="d-block text-dark p-3">Tendencias de Inversiones</a>
						<a herf="#" class="d-block text-dark p-3">Plazos Fijos</a>
						<a herf="#" class="d-block text-dark p-3">Atencion Virtual</a>
						<a herf="#" class="d-block text-dark p-3">Turnos Online</a>
						<a herf="#" class="d-block text-dark p-3">Preguntas Frecuentes</a>
						
					</div>
				</div>
				<div class="w-100">
	
				<nav class="navbar navbar-light bg-light">
					<div class="container-fluid">
					  <form class="d-flex">
						<input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
						<button class="btn btn-outline-success" type="submit"></button>
					  </form>
						<div class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						  Dropdown
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						  <li><a class="dropdown-item" href="#">Action</a></li>
						  <li><a class="dropdown-item" href="#">Another action</a></li>
						  <li><hr class="dropdown-divider"></li>
						  <li><a class="dropdown-item" href="#">Something else here</a></li>
						</ul>
					</div>
					</div>
				  </nav>
				  
				</div>
			</div>
			
			<!-- <img src="../assets/img/carrito-de-compras.png" alt="" width="150" height="150">
			<h5>¡Disfruta de los beneficios de Valan!</h5>
			<h6>Compra y suma puntos</h6>
			<img src="../assets/img/dinero-digital.png" alt="" width="150" height="150">
		</div -->
	</div>
	</body>
	
