

<h1>Accesos Directos</h1>


<section>
	<div class="Contenedor"> 

		<div class="tabla">
			<h2>Transferencia Bancaria</h2>
			<img src="./assets/img/1.png" alt="">
			<a href="" class="boton">Ingresar Aqui</a>
			<p>Realiza Transferencia desde cualquier plataforma o dispositivo de la manera mas rapida y segura</p>
		</div>

		<div class="tabla">
			<h2>Pago en efectivo</h2>
			<img src="./assets/img/2.png" alt="">
			<a href="" class="boton">Ingresar Aqui</a>
			<p>Consulta nuestros puntos habilitado para pagos en efectivo</p>
			
		</div>


		<div class="tabla">
			<h2>Compra de Cryptomonedas</h2>
			<img src="./assets/img/3.png" alt="">
			<a href="" class="boton">Ingresar Aqui</a>
			<p>Realiza compras de las distintas Cryptomonedas disponibles en nuestra plataforma</p>
		</div>

		<div class="tabla">
			<h2>Dolar</h2>
			<img src="./assets/img/4.png" alt="">
			<a href="" class="boton">Ingresar Aqui</a>
			<p>Compra y vende dolar al mejor precio del mercado</p>
		</div>

		<div class="tabla">
			<h2>Inversion</h2>
			<img src="./assets/img/5.png" alt="">
			<a href="" class="boton">Ingresar Aqui</a>
			<p>Realiza inversiones en Dolar o Cryptomonedas con la mejor taza de interes</p>
		</div>

		<div class="tabla">
			<h2>Prestamos</h2>
			<img src="./assets/img/6.png" alt="">
			<a href="" class="boton">Ingresar Aqui</a>
			<p>Saca tu prestamo con el menor interes y en cuotas fijas</p>
		</div>

	</div>
</section>


	<h3>Cotizacion</h3>


<section class="contenedor-cotizar">	
	
	<div class="tabla-cotizar">
		<h2>Bitcoin</h2>
		<img src="./assets/img/bitcoin.png" alt="">
		<a href="" class="boton2">Ingresar Aqui</a>
		<h4>$ 47.000 USDT</h4>
	</div>

	<div class="tabla-cotizar">
		<h2>Ethereum</h2>
		<img src="./assets/img/ethereum.png" alt="">
		<a href="" class="boton2">Ingresar Aqui</a>
		<h4>$ 47.000 USDT</h4>
	</div>

	<div class="tabla-cotizar">
		<h2>Dai</h2>
		<img src="./assets/img/dai.png" alt="">
		<a href="" class="boton2">Ingresar Aqui</a>
		<h4>$ 47.000 USDT</h4>
	</div>

	<div class="tabla-cotizar">
		<h2>Solana</h2>
		<img src="./assets/img/solana.png" alt="">
		<a href="" class="boton2">Ingresar Aqui</a>
		<h4>$ 47.000 USDT</h4>
	</div>

</section>
