<div *ngIf="!cargando && clientes.length>0" class="card  col-md-6">
    <div *ngFor="let cliente of clientes" class="card-header">
        {{cliente.nombre}}
    </div>
    <div class="card-body">
        <h5 class="card-title">Valan</h5>
        <p class="card-text">con Valan podes enviar dinero</p>
        <a href="#" class="btn btn-primary">Enviar dinero</a>
    </div>
</div>

<table *ngIf="!cargando && clientes.length>0" class="table">
    <thead>
        <tr>
            <th scope="col"># </th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of clientes">
            <th scope="row">{{cliente.id_usuario}}</th>
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.apellido}}</td>
            <td>@{{cliente.email}}</td>
        </tr>

    </tbody>
</table>