.contenedor-footer{
    background-color: #72b2c4;
    background-size: 100% 100%;
    overflow: hidden;
    margin-top: 30px;
}
.foot{
    padding-top: 0px;
    color: antiquewhite;
    
}
.title{
    font-weight: bolder;
    font-size: 13px;
}
.redes{
        font-size: 1.2rem;
}
