<div class="container d-flex align-items-center justify-content-center alto-100 mb-2 " style= "width: 80rem;">  
    <div class="row">
        <div  class="card-body  text-center border-0" >
    <h2 class="card-subtitle mb-2 text-primary">¿QUIENES SOMOS?</h2>
    <p class="card-text fw-bold  text-primary">Somos un equipo de Estudiantes en Desarrollo Full Stack Catamarca 2021-2022.</p>
        </div>
        <!--columna de la izquierda -->
        <div class="col-12 col-lg-9 ">
            <div class="row">
                <div class="col-12 col-lg-7 p-2">
                    <article class="card h-100 border-secondary text-white" style="background-color: rgb(93, 92, 105);"> 
                        <div class="card-body">
                            <div class="d-flex mb-3">
                                <img src="" width= "70" heigth="70" alt="" class="border border-white border-3 rounded-circle">
                                <div>
                                    <h3 class="m-1 ">Nombre</h3>
                                    <p class=" m-1  text-dark"> Profesion</p>
                                </div>
                            </div>
                            <div>
                                <p class="h6">FORMACION PROF</p>
                                <p class="fs-6 fst-italic lh-1 text-dark" >TEXTO A ELECCION</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-12 col-lg-5 p-2 ">
                    <article class="card h-100 border-secondary text-white" style="background-color: rgb(112, 35, 184);"> 
                        <div class="card-body">
                            <div class="d-flex mb-3">
                                <img src="img/images.png" width= "70" heigth="70" alt="" class="border border-white border-3 rounded-circle">
                                <div>
                                    <h3 class="m-1 ">Nombre</h3>
                                    <p class=" m-1 text-secondary"> Profesion</p>
                                </div>
                            </div>
                            <div>
                                <p class="h6">FORMACION PROF</p>
                                <p class="fs-6 fst-italic fw-bold lh-1 text-secondary ">TEXTO A ELECCION</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-12 col-lg-5 p-2">
                    <article class="card h-100 border-top-0 border border-3  mb-3 text-dark" style="background-color: rgb(255, 255, 255);" > 
                        <div class="card-body  ">
                            <div class="d-flex mb-3 ">
                                <img src="" width= "70" heigth="70" alt="" class="border border-white border-3 rounded-circle">
                                <div>
                                    <h3 class="m-1">Virginia Diaz (32 años)</h3>
                                    <p class=" m-1 text-secondary"> Profesora de Tecnonología</p>
                                </div>
                            </div>
                            <div>
                                <p class="h6">Estudiante de la Tecnictura en Informática, Diplomatura en Nuevas Tecnologías y del curso 
                                    FullStack dictado por el ISPC.  </p>
                                <p class="fs-6 fst-italic lh-1 text-secondary">Mi formación profecional me llevo a conocer las Tecnologías de la Información.
                                    Descubriendo el mundo IT encontré nuevas formas de desarrollar la cratividad. Este 
                                    es un mundo de constantes cambios y nuevos desafios, por eso e importante la busqueda constante de nuevas
                                   herramientas. </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-12 col-lg-7 p-2 ">
                    <article class="card h-100 text-white" style="background-color: rgb(25, 33, 56);"> 
                        <div class="card-body">
                            <div class="d-flex mb-3">
                                <img src="img/images.png" width= "70" heigth="70" alt="" class="border  border-white border-3 rounded-circle">
                                <div>
                                    <h3 class="m-1">Nombre</h3>
                                    <p class=" m-1 text-secondary"> Profesion</p>
                                </div>
                            </div>
                            <div>
                                <p class="h6">FORMACION PROF</p>
                                <p class="fs-6 fst-italic lh-1 text-secondary">TEXTO A ELECCION</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <!--columna de la derecha -->
       <div class="col-12 col-lg-3 p-2">
        <article class="card h-100  text-dark border-top-0 border border-3" > 
            <div class="card-body">
                <div class="d-flex mb-3">
                    <img src="img/images.png" width= "70" heigth="70" alt="" class="border border-white border-3 rounded-circle">
                    <div>
                        <h3 class="m-1 mb-1">Nombre</h3>
                        <p class=" m-1 text-secondary"> Profesion</p>
                    </div>
                </div>
                <div>
                    <p class="h6">FORMACION PROF</p>
                    <p class="fs-6 fst-italic lh-1 text-secondary">TEXTO A ELECCION</p>
                </div>
            </div>
        </article>
       </div>
            
        </div>
    </div>