a{
    text-decoration: none;
    color: white;
}
a:hover,a:active{
    color: #888;
    
}
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
mat-toolbar{
    background-color: #113CFC;
}
mat-icon{
    color: #fff;
}